<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="View/Home/css/index.css">
        <link rel="icon" type="image/x-icon" href="View/favicon.png">

        <title>Home</title>
    </head>
    <body>
        <div id="main-div">
            <img id="background-image" loading="lazy" src="View/Home/images/background.gif" alt="">

            <div id="main-nav">
                <div id="nav-holder">
                    <div class="nav-obj">
                        <img src="View/selectables/login-icon.png" alt="">
                        <a href="auth">Login</a>
                    </div>
                    <div class="nav-obj">
                        <img src="View/selectables/chat-icon.png" alt="">
                        <a href="chat">Chat</a>
                    </div>
                </div>
            </div>

            <div id="main-body-1">
                <div id="main-body-1-info">
                    <h1>Katarakt!</h1>
                    <div style="margin-left: 3rem; margin-top: 0.75rem;">    
                        <p style="font-size: medium;">Além do próprio SSL/TLS (Secure Socket Layer/Transport Secure Layer) derivado do HTTPS,</p>    
                        <p style="font-size: medium;">o nosso chat possui alta segurança e criptografia de ponta a ponta! Isso ajuda a prevenir ataques hacker como:</p>    
                        <p style="font-size: medium; font-weight: 600;">XXS (Cross-Site-Scripting), Tampering, Eavesdropping, entre outros...</p>    
                    </div>
                </div>
            </div>

            <div id="main-body-2">
                <h1 style="margin-bottom: 1rem;">Perguntas Frequentes:</h1>

                <div class="question-answer">
                    <p>Vocês roubam as nossas senhas?</p>
                    <p>
                    Não conseguiriamos ver a senha de vocês nem se quisessemos. As senhas são encriptadas usando SHA-256, essa criptografia
                    completamente "destroi" a senha ou qualquer outro texto que passa por ela. É uma criptografia unidirecional, significa que ela é irreversível, ou seja,
                    não tem como descriptografar. 
                    </p>
                </div>

                <div class="question-answer">
                    <p>Como eu vou saber se é confiável?</p>
                    <p><img style="width: 10rem; height: 10rem;" src="View/Home/images/confia.jpg" alt=""></p>
                </div>

                <div class="question-answer">
                    <p>Pode trava-zap?</p>
                    <p>Ta proíbido.</p>
                </div>

                <div class="question-answer">
                    <p>Se eu perder a minha senha?</p>
                    <p>Na página de login clique em 'Esqueci a Senha'. Um link será enviado para seu email onde você poderá trocar ela.</p>
                </div>
                
                <div class="question-answer">
                    <p>Se eu não tiver acesso ao meu Email?</p>
                    <p>Ai tu ta ferrado meu amigo, sem esperança, te vira.</p>
                </div>

                <div class="question-answer">
                    <p>Tem como eu ser banido?</p>
                    <p>Não. Aqui é um país livre, pode mandar até vírus, mas se mandar trava-zap haverá consequências.</p>
                </div>
            </div>
        </div>
    </body>
</html>