<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="View/Reset/css/index.css">

        <title>Reset de Senha</title>
    </head>
    <body>
        <div id="main">
            <div id="reset-container">
                <div class="flex center vertical">
                    <h1 style="margin-bottom: 5rem;">Reset de Senha</h1>

                    <input type="text" name="email-input" id="email-input" placeholder="Email">

                    <button id="submit-button" style="margin-top: 2rem;">Enviar</button>

                    <a href="auth" style="position: absolute; bottom: 2rem;">Me Tira Daqui</a>
                </div>
            </div>
        </div>

        <script>
            async function requestReset (email) {
                let url = "/TCC/Project/REST/reset/password";

                return await fetch(url, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded"
                    },
                    body: new URLSearchParams({
                        email: email
                    })
                })
                .then(response => response.json())
                .then(data => {
                    var status = data.status;

                    if (status === 0) {
                        console.log("fuck");
                    }
                    else if (status === 1) {

                    }
                })
                .catch(error => console.log(error.message));
            }

            const emailInput = document.getElementById("email-input");
            const submitButton = document.getElementById("submit-button");

            submitButton.addEventListener("click", () => {
                let email = emailInput.value;
                if (email.trim() != "") {
                    requestReset(email);
                }
            });
        </script>
    </body>
</html>