<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="View/Reset/css/index.css">

        <title>Reset de Senha</title>
    </head>
    <body>
        <div id="main">
            <div id="reset-container">
                <h1 style="position: absolute; top: 1.5rem;">Reset de Senha</h1>

                <input type="text" name="email-input" id="email" placeholder="Email">

                <button id="submit-button">Enviar</button>
            </div>
        </div>

        <script>
            
        </script>
    </body>
</html>